@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  color: hsl(233deg, 8%, 62%);
  word-spacing: -2px;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  color: hsl(233deg, 26%, 24%);
}

h2 {
  font-size: 2.14rem;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
}

h4 {
  font-size: 0.85rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: white;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
header .contain {
  width: 77.08%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  transition: all 0.4s;
}
header .contain-burgerNclose {
  display: none;
  transition: all 0.4s;
}
header .contain-logo {
  width: 33%;
  height: auto;
}
header .contain-nav {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.4s;
}
header .contain-nav-ul {
  width: 100%;
  display: flex;
  min-width: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  color: hsl(233deg, 8%, 62%);
}
header .contain-nav-ul-li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
header .contain-nav-ul-li p {
  font-size: 0.8rem;
}
header .contain-nav-ul-li hr {
  display: block;
  visibility: hidden;
  background: linear-gradient(60deg, #35cf66, #28bbcd);
  height: 3px;
  width: 0;
  margin: 12px 30%;
  border: none;
  transition: all 0.3s;
}
header .contain-nav-ul-li:hover {
  color: hsl(136deg, 65%, 51%);
}
header .contain-nav-ul-li:hover hr {
  visibility: visible;
  width: 100%;
}
header .contain-button {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .contain-button button {
  box-sizing: border-box;
  background: linear-gradient(60deg, #35cf66, #28bbcd);
  color: white;
  font-size: 0.8rem;
  border-radius: 25px;
  padding: 13px 32px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
header .contain-button button:hover {
  filter: brightness(1.5);
}

main {
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
main .bg {
  width: 100%;
  height: 656px;
  min-height: 656px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: hsl(0deg, 0%, 98%);
}
main .bg-left {
  width: 50%;
  height: 100%;
  margin-left: 11.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-inline-size: 469px;
}
main .bg-left-content {
  width: 94%;
  height: 56%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: -13px;
}
main .bg-left-content h1 {
  color: hsl(233deg, 26%, 24%);
}
main .bg-left-content p {
  line-height: 1.5;
  color: hsl(233deg, 8%, 62%);
}
main .bg-left-content button {
  box-sizing: border-box;
  background: linear-gradient(50deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: white;
  font-size: 0.86rem;
  border-radius: 25px;
  padding: 15px 30px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
main .bg-left-content button:hover {
  filter: brightness(1.5);
}
main .bg-right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  max-width: 1104px;
  align-items: center;
  overflow-x: hidden;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: -260px;
  overflow-y: visible;
}
main .bg-right-mobile {
  display: none;
}
main .bg-right-desck {
  width: 55%;
  max-width: 100%;
  min-width: 685px;
  position: absolute;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
@media screen and (min-width: 1441px) {
  main .bg-right-desck {
    width: 35%;
  }
}
main .bg-right-desck-front {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 802px;
  z-index: 200;
  left: 19%;
  top: -121px;
  margin: auto;
}
main .bg-right-desck-back {
  position: relative;
  width: 140%;
  height: 150%;
  top: -250px;
  z-index: 100;
}
main .section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 676px;
  background-color: hsl(220deg, 16%, 96%);
}
main .section2-content {
  width: 77.08%;
  display: flex;
  height: 80%;
  flex-direction: column;
  line-height: 1.5;
  justify-content: space-evenly;
}
main .section2-content-up {
  display: flex;
  width: 60%;
  height: 35%;
  flex-direction: column;
  justify-content: space-evenly;
}
main .section2-content-down {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .section2-content-down p {
  font-size: 0.87rem;
}
main .section2-content-down-items {
  width: 23%;
  height: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  line-height: 1.5;
  word-break: break-word;
  max-inline-size: 253px;
  word-spacing: -1px;
}
main .section3 {
  height: 660px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
main .section3-content {
  width: 77.08%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .section3-content-articles {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
  justify-content: space-between;
}
main .section3-content-articles-item {
  width: 255px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  margin: 0 3px;
}
main .section3-content-articles-item img {
  width: 100%;
  /* height: 200px; */
  min-height: 200px;
  border-radius: 5px;
  padding: 0 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section3-content-articles-item-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 100%);
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  min-height: 146px;
}
main .section3-content-articles-item-text h4 {
  cursor: pointer;
  transition: all 0.3s;
}
main .section3-content-articles-item-text h4:hover {
  color: hsl(136deg, 65%, 51%);
}
main .section3-content-articles-item-text-by {
  font-size: 0.55rem;
  color: hsl(233deg, 8%, 62%);
}
main .section3-content-articles-item-text-cuerpo {
  font-size: 0.7rem;
  color: hsl(233deg, 8%, 62%);
  word-spacing: -1px;
  line-height: 1.5;
}

.twitter path {
  fill: hsl(136deg, 65%, 51%);
}

.footer {
  bottom: 0;
  width: 100%;
  height: 191px;
  display: flex;
  background-color: hsl(233deg, 26%, 24%);
  color: hsl(0deg, 0%, 100%);
}
.footer-contain {
  width: 77.08%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 0.8rem;
}
.footer-contain-left {
  display: flex;
  width: 64%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-contain-left-redes {
  width: 53%;
  display: flex;
  margin: 0 10;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-contain-left-redes svg {
  cursor: pointer;
}
.footer-contain-left-redes svg path {
  transition: all 0.4s;
}
.footer-contain-left-redes svg:hover path {
  fill: hsl(136deg, 65%, 51%);
}
.footer-contain-center {
  display: flex;
  width: 84%;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-contain-center-left, .footer-contain-center-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.footer-contain-center-left li, .footer-contain-center-right li {
  cursor: pointer;
  transition: all 0.4s;
}
.footer-contain-center-left li:hover, .footer-contain-center-right li:hover {
  color: hsl(136deg, 65%, 51%);
}
.footer-contain-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-contain-right button {
  box-sizing: border-box;
  background: linear-gradient(50deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: white;
  font-size: 0.86rem;
  border-radius: 25px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.footer-contain-right button:hover {
  filter: brightness(1.6);
}
.footer-contain-right p {
  font-size: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (max-width: 768px) {
  p {
    font-size: 0.8rem;
    color: hsl(233deg, 8%, 62%);
    word-spacing: 0px;
  }
  h1 {
    font-size: 2.2rem;
    font-weight: 400;
    word-spacing: -4px;
    line-height: 1.2;
    margin: 0;
    color: hsl(233deg, 26%, 24%);
  }
  h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    max-inline-size: 62%;
  }
  h3 {
    font-size: 1.1rem;
    font-weight: 400;
    color: hsl(233deg, 26%, 24%);
  }
  h4 {
    font-size: 0.85rem;
    font-weight: 400;
  }
  ul {
    list-style: none;
  }
  body {
    font-family: "Public Sans", sans-serif;
    background-color: white;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: 64px;
    position: relative;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 500;
    box-shadow: none;
    transition: all 0.4s;
  }
  header .contain {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  header .contain-burgerNclose {
    display: flex;
  }
  header .contain-burgerNclose-burger {
    display: block;
    position: relative;
    right: 5%;
    transition: all 0.4s;
  }
  header .contain-burgerNclose-close {
    display: none;
    position: relative;
    right: 5%;
    transition: all 0.4s;
  }
  header .contain-logo {
    top: 2px;
    width: 33%;
    height: auto;
    display: flex;
    position: relative;
  }
  header .contain-nav {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 0;
    position: absolute;
    visibility: hidden;
    top: 90px;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.4s;
  }
  header .contain-nav-ul {
    width: 100%;
    height: 84%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    filter: opacity(0);
    transition: all 0.4s;
  }
  header .contain-nav-ul-li {
    flex-direction: column;
    height: 35px;
    justify-content: space-between;
    align-items: center;
  }
  header .contain-nav-ul-li p {
    font-size: 1rem;
    font-weight: 400;
    color: black;
  }
  header .contain-button {
    display: none;
  }
  main {
    height: 3873px;
    display: flex;
    transition: all 0.4s;
  }
  main .bg {
    width: 100%;
    height: auto;
    min-height: 673px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  main .bg-left {
    width: 100%;
    height: 50%;
    margin-left: 0;
    min-height: 297px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-inline-size: 469px;
  }
  main .bg-left-content {
    width: 90%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -26px;
    text-align: center;
  }
  main .bg-left-content p {
    font-size: 0.8rem;
    line-height: 1.7;
  }
  main .bg-left-content button {
    font-size: 0.8rem;
    padding: 14px 34px;
    margin-top: 15px;
  }
  main .bg-right {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* min-height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: -63px;
    background-size: cover;
  }
  main .bg-right-mobile {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  main .bg-right-mobile-front {
    position: relative;
    width: 92%;
    max-width: 500px;
    height: auto;
    z-index: 200;
    right: 0;
    top: 0;
    margin-top: -125px;
  }
  main .bg-right-mobile-back {
    position: relative;
    width: 100%;
    height: auto;
    top: -40px;
    z-index: 100;
  }
  main .bg-right-desck {
    display: none;
  }
  main .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1307px;
    background-color: hsl(220deg, 16%, 96%);
  }
  main .section2-content {
    width: 90%;
    display: flex;
    height: 97%;
    flex-direction: column;
    /* line-height: 1.5; */
    justify-content: space-evenly;
  }
  main .section2-content-up {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 160px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  main .section2-content-down {
    width: 100%;
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  main .section2-content-down p {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  main .section2-content-down-items {
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    word-break: break-word;
    max-inline-size: 90%;
    word-spacing: -1px;
  }
  main .section3 {
    height: 1900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
  main .section3-content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  main .section3-content-articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 96%;
    align-items: center;
    justify-content: space-between;
  }
  main .section3-content-articles-item {
    width: 316px;
    height: inherit;
    min-height: 395px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  main .section3-content-articles-item img {
    width: 100%;
    min-height: 200px;
  }
  main .section3-content-articles-item-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg, 0%, 100%);
    justify-content: space-evenly;
    align-items: flex-start;
    width: auto;
    min-height: 140px;
  }
  main .section3-content-articles-item-text-by {
    font-size: 0.55rem;
    color: hsl(233deg, 8%, 62%);
  }
  main .section3-content-articles-item-text-cuerpo {
    font-size: 0.7rem;
    color: hsl(233deg, 8%, 62%);
    word-spacing: -1px;
    line-height: 1.5;
  }
  .footer {
    bottom: 0;
    width: 100%;
    height: 510px;
    display: flex;
    background-color: hsl(233deg, 26%, 24%);
    color: hsl(0deg, 0%, 100%);
  }
  .footer-contain {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 0.8rem;
  }
  .footer-contain-left {
    display: flex;
    width: 90%;
    height: 25%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-contain-left-redes {
    width: 53%;
    display: flex;
    margin: 0 10;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer-contain-center {
    display: flex;
    width: 84%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .footer-contain-center-left, .footer-contain-center-right {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-contain-center-right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-contain-right {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-contain-right button {
    box-sizing: border-box;
    background: linear-gradient(50deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
    color: white;
    font-size: 0.86rem;
    border-radius: 25px;
    padding: 13px 30px;
    border: none;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228deg, 45%, 44%);
  }
}/*# sourceMappingURL=estilos.css.map */